body {
  font-family: Arial, sans-serif;
  background-color: #e9eff1;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h2 {
  color: #1877f2;
  font-size: 40px;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.input-group input:focus {
  border-color: #1877f2;
  outline: none;
}

.login-btn {
  background-color: #1877f2;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
}

.login-btn:hover {
  background-color: #166fe5;
}

.forgot-password {
  margin-top: 10px;
}

.forgot-password a {
  color: #1877f2;
  font-size: 14px;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.signup-container {
  margin-top: 20px;
  font-size: 14px;
}

.signup-container a {
  color: #1877f2;
  text-decoration: none;
}

.signup-container a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}
